.form {
    margin-top: 3rem;
    text-align: center;
    &__label {
        position: relative;
        &--span {
            color: blue;
        }
        &--popup {
            background-color: rgb(79, 17, 138);
            color: white;
            display: block;
            margin: 1rem auto;
        }
    }
    &__input {
        padding: 0.5rem;
        display: block;
        margin: 0 auto;
    }
    &__button {
        display: block;
        font-size: 2rem;
        margin: 0 auto;
        padding: 0.5rem;
        border-radius: 1rem;
        color: white;
        background-color: rgb(75, 75, 207);
        border: none;
        &:disabled {
            background-color: grey;
        }
    }
}